[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-cors-headers = "*"
psycopg2-binary = "*"
psycopg2 = "*"
djoser = "*"
django-ckeditor = "*"
pillow = "*"
django-verify-email = "*"
django-email-verification = "*"
djangorestframework-simplejwt = "*"
drf-pdf = "*"
django-rest-framework-social-oauth2 = "*"
shortuuid = "*"
social-auth-app-django = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
